<!doctype html>
<html ng-app="cms">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">Angular CMS</title>
    <meta name="description" content="An AngularJS based CMS">
    <meta name="keywords" content="google, index, seo, angular, javascript, cms, crawler">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-view>


<script type="text/ng-template" id="template.html">
    <ul ng-repeat="page in pages">
        <li>
            <a href="#/{{page.slug}}">{{page.title}}</a>
        </li>
    </ul>
    <div>
        <h1>{{page.title}}</h1>

        <p>{{page.content}}</p>

        <p>Da date {{date()}}</p>
    </div>

</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular-route.min.js"></script>
<script src="data.js"></script>
<script type="text/javascript">
    var app = angular.module( 'cms', ['ngRoute'] );

    app.config( ['$routeProvider',
                 function ( $routeProvider ) {
                     $routeProvider.
                             when( '/:slug', {
                                 templateUrl: 'template.html',
                                 controller: 'CmsCtrl'
                             } ).
                             otherwise( {
                                 redirectTo: '/apage'
                             } );
                 }] );

    app.controller( 'CmsCtrl', ['$scope', '$http', '$rootScope', '$routeParams', function ( $scope, $http, $rootScope, $routeParams ) {
        $scope.pages = cmsData.pages;

        $scope.currentSlug = $routeParams.slug;

        $scope.page;

        $scope.findBySlug = function ( slug ) {
            for ( var i in $scope.pages ) {
                if ( $scope.pages[i].slug === slug ) {
                    return $scope.pages[i];
                }
            }
            return $scope.pages[0];
        };

        $scope.showPage = function ( slug ) {
            $scope.page = $scope.findBySlug( slug );
            $rootScope.title = $scope.page.title;
        };

        $scope.date = function () {
            return (new Date()).toLocaleString();
        };

        $scope.showPage( $scope.currentSlug );
    }] );
</script>
</body>
</html>